.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 60px;
}

.icone {
    margin-top: 24px;
}

.container {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
}

.bloco {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 50px;
    border-radius: 30px;
    border-radius: 70px;
    border-radius: 70px;
    border-radius: 70px;
    background: linear-gradient(225deg, #cacaca, #f0f0f0);
    box-shadow: -27px 27px 54px #c1c1c1, 27px -27px 54px #ffffff;
}

.botao {
    width: 300px;
    height: 48px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 24px;
    background-color: rgb(190, 70, 49);
    color: aliceblue;
    margin-bottom: 24px;
}

.campogerasenha {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    width: 80%;
    height: 200px;
    padding: 24px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
    justify-content: center
}

.senha {
    margin-top: 24px;
    font-size: 32px;
}

.gera-senha {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:720px) {
    .container {
        width: 95%;
        margin: 8px;
    }
    .botao {
        width: 150px;
        font-size: 16px;
    }
    .bloco {
        border-radius: 11px;
        background: #e0e0e0;
        box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff;
    }
}